.productReviewsCard{
    width: 49%;
    background-color: white;
    padding-bottom: 15px;
    margin: 0px 5px;
    cursor: pointer;
}
.productReviewsCard:hover{
    box-shadow: 6px 6px 15px rgba(53,53,53,0.363);
    transition: all 0.3s ease-in-out;
}
.productReviewsCard img{
    width: 100%;
}
.productReviewsCard h5{
    margin-top: 10px;
    margin-left: 25px;
}
.productReviewsCard .cls-1{
    margin-left: 25px;
}
.productReviewsCard .cls-2{
    margin-left: 25px;
    color: orangered;
}

@media(max-width: 1000px){
    .productReviewsCard{
        width: 100%;
    }
}